

body {
    margin: 0; 
    padding: 0; 
}

main {
    padding: 20px; 
    margin-bottom: 0; 
}

.conclusao-compra {
    
  
    text-align: center; 
    margin: 80px 0;
}

.detalhes-pedido {
    font-family: 'Zen Dots', cursive;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .informacoes-contato{
    font-family: 'Zen Dots', cursive;
    font-size: 14px;
    margin-bottom: 20px;
  }

  
  
  .conclusao-compra a {
    display: inline-block; 
    margin-top: 10px; 
  }
  

  .botao-retornar {
    display: inline-block; 
    padding: 10px 20px;
    background-color: #d18d3e; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    font-family: 'Zen Dots', cursive; 
    transition: background-color 0.3s; 
  }
  
  .botao-retornar:hover {
    background-color: #cc9123; 
  }
  
  /* Estilos para o menu no index.html */
.menu {
  display: flex;
  align-items: center; 
  margin-left: 50px;
}

/* Estilos específicos para o ícone do carrinho no index */
.menu img {
  margin-top: 5px;
  
}

#carrinho {
  margin-left: 10px; /* Mantém o espaço desejado entre o carrinho e a imagem do perfil */
}

.perfil-img {
  width: 40px; /* Ajuste para o tamanho desejado */
  height: auto; /* Mantém a proporção */
  margin-left: 4px; /* Ajuste este valor para mover a imagem para a esquerda */
}